.student{
    margin-top: 20px;
    margin-left: 20px;
    height: 100vh;
    background-color: white;
    .form{
        width:100%;
        margin-left: 40%;
        padding-top: 20%;
        .headings{
            font-size: 25px;
            font-weight: 600;
        }
        .textbox{
            width:30%;
            height:30px;
            background-color: rgb(31, 41, 55);
            color:white;
            outline:none;
            border-radius: 5px;
        }
        .bt1{
            width:30%;
            height:40px;
            background-color: rgb(31, 41, 55);
            color:white;
            border-radius: 5px;
        }
    }
}