.c1{
    width:100%;
    background-color: white;
    min-height: 90vh;
    padding-left: 40%;
    padding-top: 100px;
    .box1{
        height:30px;
        width:200px;
    }
    h1{
        text-decoration: underLine;
    }
    h2{
        font-size: 20px;
        text-decoration: underline;
    }
}